* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(120deg, #2C5364, #203A43, #0F2027);
}


.container {
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}


h2 {
    font-size: 28px;
    font-weight: bold;
    color: #EAEAEA;
    padding-bottom: 8px;
    border-bottom: 2px solid #4ECDC4;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n) {
    justify-content: flex-end;
}

.input-box label {
    width: 95%;
    color: #B0BEC5;
    font-weight: bold;
    margin: 5px 0;
}

.input-box input {
    height: 42px;
    width: 95%;
    padding: 0 12px;
    border-radius: 6px;
    border: 1px solid #37474F;
    background: rgba(255, 255, 255, 0.8);
    outline: none;
    transition: box-shadow 0.3s ease;
}

.input-box input:is(:focus, :valid) {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}


.button-container {
    margin: 15px 0;
}

.button-container button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-image: linear-gradient(to right, #11998E, #38EF7D);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-container button:hover {
    transform: scale(1.05);
    background-image: linear-gradient(to right, #38EF7D, #11998E);
}


.success-container {
    display: none;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #28A745;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: center;
}

.success-container.show {
    display: block;
}


.error {
    color: #FF6347;
    font-size: 12px;
    display: none;
}

@media (max-width: 600px) {
    .container {
        min-width: 280px;
    }

    .content {
        max-height: 400px;
        overflow: auto;
    }

    .input-box {
        width: 100%;
    }

    .input-box:nth-child(2n) {
        justify-content: space-between;
    }
}

